/* CSS Document */ 

.offscreen { 
  position: absolute; 
  top: -30em; 
  left: -300em; 
} 

div#vmenu { 
   margin: 0; 
   border: solid 1px #336699;
   background: #336699; 
   width: 13.5em; 
} 

div#vmenu ul { 
   margin: 0; 
   padding: 0; 
   list-style: none; 
} 

div#vmenu ul li { 
   margin: 0; 
   padding: 0; 
   list-style: none; 
   border: solid 1px #EAEAEA;
} 

div#vmenu ul a:link { 
   margin: 0; 
   padding: .2em 0em .2em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   background-color: #00A451; 
   color: #EAEAEA; 
   display: block; 
} 

div#vmenu ul a:active { 
   margin: 0; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   background: #00A451; 
   color: #ffffff; 
   display: block; 
} 

div#vmenu ul a:visited { 
   margin: 0; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   background: #336699; 
   color: #ffffff; 
   display: block; 
} 

div#vmenu ul li a:hover { 
   margin: 0; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   background-color: #00A451; 
   color: #ffffff; 
   display: block; 
}

div#vmenu ul li a.active { 
   margin: 0; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   background: #00A451; 
   color: #ffffff; 
   display: block; 
} 

/* #my-account { */
/*    padding-bottom:1em; */
/*    font-weight:bold; */
/*    color:#94d549; */
/* } */

table tr{
   line-height : 50px;
}

table tr td{
   padding-right : 24px;
}

.user-profile-edit-input {
   width : 240px;
   color : black;
}

.title {
   font-size: 16px;
   font-weight: bold;
   padding: 10px 0 10px 0;
   color: #0c7d24;
}

/* table tr .share-document-label {
   font-weight : bold;
   color : #4fa600;  
}
*/

table tr .share-document-label { 
   color: #333;
   margin: 18px 0 4px 0;
   font-size: 14px!important;
   font-weight: normal!important;
}
 
.edit-account-form-div {
}

.form-validation-error{
   border-color : #FF0000 !important;
}

.update-error-hide{
   font-size: 11px;
   display : none !important;
}

.update-hide {
   display : none;
}

.update-error-show {
   font-size: 11px;
  
}

.showpad-submit-button {
    margin-top : 35px;
}

.my-account-button {
   background: #b9ced9 url(../images/application/state_hover_bg.png) repeat-x 0 0;
   border-color: #627782;
   text-shadow: none!important;
   background-color: #0c7d24!important;
   background-image: none!important;
   color: #fff!important;
   width: 170px!important;
   border-radius: 8px!important;
   font-weight: normal !important;
}

.my-account-portlet-container {
   margin: -10px 0 0 0px !important;
   font-family: arial !important;
}

/* Override default juery-ui font-family */
div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
   font-family: arial !important;
}

.blue-btn {
  font-family: Arial;
  color: #fff;
  font-size: 14px;
  background: #3a84b5;
  padding: 2px 10px;
  border: solid #386380 1px;
  text-decoration: none;
}

.blue-btn:hover {
  background: #567a8f;
  text-decoration: none;
}

.grey-btn {
  font-family: Arial;
  color: #000;
  font-size: 14px;
  background: #DCDCDC;
  padding: 2px 10px;
  border: solid #386380 1px;
  text-decoration: none;
}

.grey-btn:hover {
  background: #ccc;
  text-decoration: none;
}


.myaccount-portlet-placeholder {
   width: 35%;
   margin-left: 3px;
   display: inline-block;
}

.exchange-myaccount-portlet.updatePwd {
  margin-top: 20px;
}

.exchange-myaccount-portlet {
   margin-left: 20px;
   margin-top: 0;
   -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.97);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.97);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.97);
   background-color: #DCDCDC;
   font-weight: bold;
   width: 40%;
   padding: 15px;
   @media screen and (max-width: 767px) {
      width: 90%;
      margin:0 auto;
      margin-top:50px;
   }
   .myaccount-portlet-header {
      position: relative;
      cursor: pointer;
      .header-text {
         font-size: 16px;
         margin-left: 3px;
      }
      .header-expander {
         position: absolute;
         top: 0;
         right: 0;
      }
   }
   .myaccount-portlet-form {
      border-top: 1px solid #cecece;
      margin-top: 15px;
      .myaccount-portlet-field {
         padding: 15px 0;
         border-bottom: 1px solid #cecece;
         .field-name {
            width: 35%;
            margin-left: 3px;
            margin-top: 5px;
            vertical-align: top;
            display: inline-block;
         }
         .field-value {
            width: 60%;
            display: inline-block;
            input {
              width: 100%;
              height: 25px;
              margin: 0;
              padding: 0 5PX;
              border: 2px solid #ccc;
            }
            select {
              margin: 0;
            }
         }
      }
   }
   .myaccount-portlet-btns {
      padding: 15px 0;
      width: 60%;
      display: inline-block;
      .submitBtn {
         @extend .blue-btn;
         margin-right: 10px;
      }
      .cancelBtn {
         @extend .grey-btn;
      }
   }
}